# sm8150_sec_a82_skt_kor_defconfig

CONFIG_SEC_A82XQ_PROJECT=y
CONFIG_MACH_A82XQ_KOR_SKT=y
CONFIG_SEC_5GMODEL=y

# display
# CONFIG_DISPLAY_SAMSUNG is not set
CONFIG_PANEL_S6E3HAB_AMB677TY01_WQHD=y
CONFIG_DISPLAY_SAMSUNG_LEGO=y

# Sub PMIC
# CONFIG_REGULATOR_S2ABB01 is not set
# CONFIG_REGULATOR_S2DOS03 is not set
CONFIG_REGULATOR_S2DOS05=y
CONFIG_MFD_S2MPB02=y
CONFIG_REGULATOR_S2MPB02=y
CONFIG_REGULATOR_S2MPB03=y

# input device
CONFIG_TOUCHSCREEN_SEC_TS_Y79A=y

# BATTERY
CONFIG_CALC_TIME_TO_FULL=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_AFC_CURR_CONTROL_BY_TEMP=y
CONFIG_LIMIT_CHARGING_DURING_CALL=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_FUELGAUGE_MAX77705=y
CONFIG_CHARGER_MAX77705=y
CONFIG_MAX77705_CHECK_B2SOVRC=y
CONFIG_BATTERY_CISD=y
CONFIG_OTG_OVERCURRENT_BY_CHGIN=y
CONFIG_STEP_CHARGING=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
CONFIG_PDIC_PD30=y
CONFIG_PREVENT_USB_CONN_OVERHEAT=y

# MUIC configs
CONFIG_MFD_CORE=y
CONFIG_USE_MUIC=y
CONFIG_USE_SAFEOUT=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_VBUS_NOTIFIER_WORK=y
CONFIG_MUIC_MAX77705=y
CONFIG_MFD_MAX77705=y
CONFIG_MUIC_MAX77705_CCIC=y
CONFIG_HV_MUIC_MAX77705_AFC=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_HV=y
CONFIG_HICCUP_CHARGER=y

# ccic
CONFIG_CCIC_MAX77705=y
# CONFIG_CCIC_S2MM005 is not set

# BLUETOOTH
CONFIG_BT=y
CONFIG_MSM_BT_POWER=y
CONFIG_BTFM_SLIM=y
CONFIG_BTFM_SLIM_WCN3990=y
CONFIG_RFKILL=y

# Motor
#CONFIG_MOTOR_DRV_MAX77705 is not set
#CONFIG_SS_VIBRATOR is not set
#CONFIG_BOOST_POWER_SHARE is not set
CONFIG_MSM_VIBRATOR=y

# Fingerprint sensor
CONFIG_SENSORS_FINGERPRINT=y
#CONFIG_SENSORS_ET5XX is not set
CONFIG_SENSORS_QBT2000=y
CONFIG_SENSORS_FP_SPI_NUMBER=0
CONFIG_SENSORS_FP_SPI_GPIO_START=0
CONFIG_SENSORS_FP_SPI_GPIO_END=3

# NFC ESE
#CONFIG_SAMSUNG_NFC is not set
CONFIG_SEC_NFC_V2=y
CONFIG_SEC_NFC_LOGGER=y

# Audio
CONFIG_SND_SOC_CS35L41=y
CONFIG_MFD_CS35L41_I2C=y
CONFIG_SND_SOC_SAMSUNG_AUDIO=y
CONFIG_SND_SOC_SAMSUNG_USB_HEADSET_ONLY=y
CONFIG_SLIMBUS_DEBUG=y

# Sensor
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
CONFIG_ADSP_FACTORY=y
CONFIG_LSM6DSO_FACTORY=y
CONFIG_AK09918_FACTORY=y
CONFIG_STK3A9X_FACTORY=y
CONFIG_SUPPORT_PROX_CALIBRATION=y
CONFIG_SUPPORT_BHL_COMPENSATION_FOR_LIGHT_SENSOR=y
CONFIG_SUPPORT_SSC_SPU=y

# Grip sensor
CONFIG_SENSORS_SX9364=y

# Camera
#CONFIG_LEDS_S2MPB02=y
CONFIG_LEDS_PMIC_QPNP=y
CONFIG_SAMSUNG_OIS_MCU_STM32=y
CONFIG_SAMSUNG_APERTURE=y
CONFIG_CAMERA_SYSFS_V2=y
CONFIG_SAMSUNG_REAR_TRIPLE=y
CONFIG_SAMSUNG_FRONT_EEPROM=y
CONFIG_USE_CAMERA_HW_BIG_DATA=y
CONFIG_CAMERA_FRS_DRAM_TEST=y
CONFIG_SAMSUNG_APERTURE_HALLTEST=y
CONFIG_CAMERA_SSM_I2C_ENV=y
CONFIG_SAMSUNG_FORCE_DISABLE_REGULATOR=y
CONFIG_SAMSUNG_REAR_MACRO=y

# ALS sensor
CONFIG_SENSORS_SFH7832=y

# Hall ic
CONFIG_NOT_SUPPORT_HALL=y

# Broadcom WiFi feature remove
# CONFIG_BROADCOM_WIFI is not set
# CONFIG_BCM4375 is not set
# CONFIG_BCMDHD_FW_PATH is not set
# CONFIG_BCMDHD_NVRAM_PATH is not set
# CONFIG_BROADCOM_WIFI_RESERVED_MEM is not set
# CONFIG_CFG80211_REG_NOT_UPDATED is not set
# CONFIG_WIFI_MULTICAST_LOG is not set
# CONFIG_BCMDHD_PCIE is not set
# CONFIG_BCMDHD_PREALLOC_MEMDUMP is not set
# CONFIG_BCMDHD_OOB_HOST_WAKE is not set
# CONFIG_BCM_DHD_WLAN is not set
# CONFIG_WLAN_VENDOR_DUMP_ENABLE is not set
# CONFIG_WLAN_TSQ_MULTIPLIER is not set

# QCA Wi-Fi feature
CONFIG_QCA_CLD_WLAN=y
CONFIG_ICNSS=y
CONFIG_ICNSS_QMI=y
# CONFIG_ICNSS_DEBUG is not set
CONFIG_WCNSS_MEM_PRE_ALLOC=y

# QRNG
CONFIG_HW_RANDOM_S2Q000=y
CONFIG_HW_RANDOM_S2Q000_MISC_DEVICE=y
CONFIG_HW_RANDOM_S2Q000_QUALITY=896
CONFIG_HW_RANDOM_S2Q000_TIMER=y
